# Buildpack config
# https://github.com/HashNuke/heroku-buildpack-elixir

# Always rebuild from scratch on every deploy?
always_rebuild=true

# Specifying Elixir Version
elixir_version=1.2.0

# A command to run right before compiling the app (after elixir, .etc)
pre_compile="mix deps.get() && npm install"
