<h4>Batch Options</h4>
<p>User can set how many responses per task they want, worker qualifications, etc.</p>


<%= render "options_form.html", changeset: @options_changeset,
                        action: batch_path(@conn, :options, @batch) %>
