<h2>Show batch</h2>

<ul>
  <li>
    <strong>Csv file:</strong>
    <%= link @batch.csv_file_name, to: @batch.csv_file_url %>
  </li>
  <li>
    <strong>Job:</strong>
    <%= @batch.job_id %>
  </li>
</ul>

<%= link "Edit", to: batch_path(@conn, :edit, @batch) %>
<%= link "Back", to: batch_path(@conn, :index) %>
